plots/pooled plots/single_cell celltypist/2251_input_data.csv celltypist/2251_predicted_labels.csv celltypist/2251_probability_matrix.csv celltypist/2267_input_data.csv celltypist/2267_predicted_labels.csv celltypist/2267_probability_matrix.csv celltypist/2283_input_data.csv celltypist/2283_predicted_labels.csv celltypist/2283_probability_matrix.csv celltypist/2293_input_data.csv celltypist/2293_predicted_labels.csv celltypist/2293_probability_matrix.csv celltypist/2380_input_data.csv celltypist/2380_predicted_labels.csv celltypist/2380_probability_matrix.csv celltypist/2428_input_data.csv celltypist/2428_predicted_labels.csv celltypist/2428_probability_matrix.csv celltypist/2467_input_data.csv celltypist/2467_predicted_labels.csv celltypist/2467_probability_matrix.csv celltypist/2497_input_data.csv celltypist/2497_predicted_labels.csv celltypist/2497_probability_matrix.csv
